body {background-color: hsl(0, 0%, 98%);}


#container {
    font-family: 'Poppins', sans-serif;
    font-size: .925rem;
    text-align: center;
}

#reliable {
  margin-top: 5rem;
  font-weight: lighter;
  font-size: 1.45rem;
  color: #808080;
}

#powered {
  font-weight: 600;
  font-size: 1.45rem;
  color: #333333;
}

#artificial {
  margin-top: .5rem;
  margin-left: 13%;
  margin-right: 13%;
  color: #8c8c8c;
  font-weight: lighter;
}

.boxes {
    border-radius: 5px;
    border: solid hsl(0, 0%, 98%) 1px;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 1rem;
    text-align: left;
    padding-top: 1.25rem;
    padding-left: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.boxes:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.titles {
  font-weight: 600;
  font-size: 1.25rem;
  color: #333333;
}

.images {
  text-align: right;
  margin-top: 2rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.descriptions {
  color: #8c8c8c;
}

#boxes-container {
    margin-top: 4rem;
}

#supervisor {
  border-top: solid hsl(180, 62%, 55%) 5px;
}

#team-builder {
  border-top: solid hsl(0, 78%, 62%) 5px;
}

#karma {
  border-top: solid hsl(34, 97%, 64%) 5px;
}

#calculator {
  border-top: solid hsl(212, 86%, 64%) 5px;
}

@media only screen and (min-width: 600px) {
  .boxes {
    width: 325px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  #boxes-container {
      margin-top: 4rem;
      display: flex;
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
